<div class="d-flex justify-content-center mt-5">
  <app-card header="Cadastro">
    <form [formGroup]="cadastroForm">
      <div class="grid gap-0 row-gap-3">
        <div class="p-2 g-col-6">
          <app-input
            formControlName="name"
            inputName="name"
            type="text"
            label="Name"
            placeholder="Seu nome">
          </app-input>
        </div>
        <div class="p-2 g-col-6">
          <app-input
            formControlName="username"
            type="email"
            label="Username"
            placeholder="Seu email">
          </app-input>
        </div>
        <div class="p-2 g-col-6">
          <app-input
            formControlName="password"
            type="password"
            label="Password"
            placeholder="Sua senha">
          </app-input>
        </div>
        <div class="p-2 g-col-6">
          <div class="d-flex justify-content-between">
            <app-button prop-label="Cadastrar" (click-event)="onCadastro()"></app-button>
            <!-- <app-button prop-label="Cadastrar" (click-event)="onCadastro()"></app-button> -->
          </div>
        </div>
      </div>
    </form>
  </app-card>
</div>
