:host ::ng-deep app-prod-card .p-card {
  background-color: #272727 !important;
}

:host ::ng-deep app-prod-card .p-card .p-card-body {
  color: #D2AC49 !important;
}


:host ::ng-deep app-menu .p-menu {
  background-color: #272727 !important;
}

:host ::ng-deep app-menu .p-menu ul li {
  background-color: #272727 !important;
  color: #D2AC49 !important;
}

:host :ng-deep app-dialog .p-dialog {
  background-color: #272727 !important;
  color: #D2AC49 !important;
}

