<div class="d-flex justify-content-center">
  <app-button prop-label="Produto" (click-event)="openProdModal()"></app-button>
  <app-dialog
    header="Form de Cadastro de Produto"
    position="left" [visible]="prodVisible"
    [style]="{ width: '25rem' }"
    (close-modal)="closeProdModal()">
    <form [formGroup]="produtcForm">
      <div class="grid gap-0 row-gap-3">
        <div class="p-2 g-col-6">
          <app-input
            formControlName="description"
            inputName="description"
            label="Descrição"
            placeholder="Descrição do produto">
          </app-input>
        </div>
        <div class="p-2 g-col-6">
          <app-input
            formControlName="price"
            inputName="price"
            label="Preço"
            placeholder="Preço do produto">
          </app-input>
        </div>
        <div class="p-2 g-col-6">
          <app-input
            formControlName="amount"
            inputName="amount"
            label="Quantidade"
            placeholder="Quantidade do produto">
          </app-input>
        </div>
        <div class="p-2 g-col-6">
          <app-button
            prop-label="Cadastrar Produto"
            (click-event)="createProd()"></app-button>
        </div>
      </div>
    </form>
  </app-dialog>
  <app-button prop-label="Categoria" (click-event)="openCategModal()"></app-button>
  <app-dialog header="Form de Cadastro de Categoria" position="right" [visible]="categVisible"
    [style]="{ width: '25rem' }" (close-modal)="closeCategModal()">
    <form [formGroup]="categoryForm">
      <div class="grid gap-0 row-gap-3">
        <div class="p-2 g-col-6">
          <app-input
            formControlName="description"
            inputName="description"
            label="Descrição"
            placeholder="Descrição da categoria">
          </app-input>
        </div>
        <div class="p-2 g-col-6">
          <app-button
            prop-label="Cadastrar Categoria"
            (click-event)="createCateg()">
          </app-button>
        </div>
      </div>
    </form>
  </app-dialog>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <app-card header="Histórico de vendas">
        <h1>Olá eu sou o histórico de vendas</h1>
      </app-card>
    </div>
    <div class="col-md-6 mb-4">
      <app-card header="Venda por categorias">
        <app-chart type="doughnut" [data]="data1" [options]="options1">
        </app-chart>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <app-card header="Produtos mais vendidos">
        <app-chart type="bar" [data]="data2" [options]="options2">
        </app-chart>
      </app-card>
    </div>
  </div>
</div>
